<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Events</title>
    <link rel="stylesheet" href="../../app/assets/stylesheets/application.css">
    <script src="angular.js"></script>
    <script src="data.js"></script>
    <script src="application.js"></script>
  </head>
  <body class="container" data-ng-app="icare">
    <%= stylesheet_link_tag "application", property: "stylesheet" %>
    <%= javascript_include_tag "" -->
