<%= stylesheet_link_tag "application", property: "stylesheet" %>
<%= javascript_include_tag "events" %>


<div class="container" data-ng-app="icare">
<header class="page-header">
  <h1><a data-ui-sref="index" href="#">iCare</a></h1>

  </header>
  <main data-ui-view>

  </main>

    <div id="home-content-box">
      <h1 id="home-header">WHAT DO YOU CARE ABOUT?</h1>
      <p id="home-p">This is where the search for a cause bar will go</p>
    </div>
