<%= stylesheet_link_tag "application", property: :stylesheet %>
<%= javascript_include_tag "stories" %>

<div class="container">
<header class="page-header">

</header>
<main data-ui-view></main>
</div>
