<div>
<div data-ng-switch="formMethod">
  <h2 data-ng-switch-default>Add your Story</h2>
</div>
<h1>Tell Us Your Story!</h1>
<fieldset class="input-group">
  <label for="name">Name</label>
  <input type="text" class="form-control" data-ng-model="story.name" id="name" />
</fieldset>
<fieldset class="input-group">
  <label for="age">Age</label>
  <input type="integer" class="form-control" data-ng-model="story.age" id="age" />
</fieldset>
<fieldset class="input-group">
  <label for="cause">My Cause</label>
  <input type="text" class="form-control" data-ng-model="story.cause" id="cause" />
</fieldset>
<fieldset class="input-group">
  <label for="photo_url">Photo URL</label>
  <input type="text" class="form-control" data-ng-model="story.photo_url" id="photo_url" />
</fieldset>
<fieldset class="input-group">
  <label for="story">My Story</label>
  <input type="text" class="form-control" data-ng-model="story.story" id="story" />
</fieldset>
<div data-ng-switch="formMethod">
  <button data-ng-switch-default type="button" class="btn btn-primary btn-block" data-ng-click="create()">Submit</button>
</div>
</div>
