<div class="container" data-ng-app="icare">
  <header class="jumbotron">
    <h1>Stories</h1>
  </header>
  <input type="text" placeholder="search for stories" data-ng-model="search">
  <main data-ng-controller="index_controller as vm">
    <div data-ng-repeat="story in vm.stories | filter:search">
      <h1>{{story.name}}</h1>
      <p>{{story.age}}</p>
      <p>{{story.cause}}<p>
      <img data-ng-src="{{story.photo_url}}" alt="#" />
      <p>{{story.story}}<p>
    </div>
  </main>
  <footer class="foot">
    <div ng-show="formMethod @ 'create()'">
        <button data-ng-click="storyForm">Tell Us What Inspires You!</button>
      </div>
<a data-ui-sref="create()">New Grumble</a>

    <a data-ui-sref="storyForm"></a>
  </footer>
</div>
