<!DOCTYPE html>
<html>
<head>
</head>

<style>

.head {
  background-image: url(http://i.imgur.com/ffTo6t9.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 400px;
}

button {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  text-align: center;
}

h1 {
  font-family: "Cinzel", serif;
  font-size: 20pt;
}

img {
  height: 250px;
  width: 250px;
}

/*img:nth-of-type(odd) {
  justify-content: left;
}*/

</style>
<body>
  <header class="head">
      <button type="button" class="btn btn-primary btn-block" data-ui-sref="storyIndex">Tell Us What Inspires You!</a></button>
    <div ng-show="formMethod = 'create()'">
    </div>
  </header>

  <input type="text" placeholder="search for stories" data-ng-model="search">
  <main data-ng-controller="story_index_controller as vm">
    <div data-ng-repeat="story in vm.stories | filter:search">
      <h1>Name: {{story.name}}</h1>
      <p>Age: {{story.age}}</p>
      <p>My Cause: {{story.cause}}<p>
        <img class="img-circle" data-ng-src="{{story.photo_url}}" alt="#">
        <p>Why I volunteer: {{story.story}}<p>
        </div>
      </main>
    </body>
    </html>
