<h2>Add your story</h2>
<fieldset class="input-group">
  <input type="text" class="form-control" data-ng-model="story.name" id="name" />
  <label for="name">Name</label>
</fieldset>
<fieldset class="input-group">
  <input type="integer" class="form-control" data-ng-model="story.age" id="age" />
  <label for="age">Age</label>
</fieldset>
<fieldset class="input-group">
  <input type="text" class="form-control" data-ng-model="story.cause" id="age" />
  <label for="cause">Cause</label>
</fieldset>
<fieldset class="input-group">
  <input type="text" class="form-control" data-ng-model="story.photo_url" id="photo_url" />
  <label for="photo_url">Photo URL</label>
</fieldset>
<fieldset class="input-group">
  <input type="text" class="form-control" data-ng-model="story.story" id="story" />
  <label for="story">Your Story</label>
</fieldset>
<button type="button" class="btn btn-primary btn-block" data-ng-click="create()">Submit</button>
