/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #top-menu-nav {
   position: fixed;
   top: 0;
   background-color: white;
   height: 50px;
   width: 100%;
 	/*z-index: 100;*/
 	display: inline-block;
 }

 #top-menu li {
   float: right;
   display: inline-block;
   padding-right: 22px;
   padding-top: 15px;
   font-size: 15px;
 }

 nav a {
 	color: #49EA83;
 	text-decoration: none;
 	font-family: "Open Sans Condensed", sans-serif;
 	font-size: 15pt;
 }

 a:hover {
 	color: #B0EAC8;
 }

 #home-body {
  background-image: url(http://i.imgur.com/wZ0BUnL.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  margin-top: 100px;
}

#home-content-box {
  background-color: rgba(255,255,255,0.7);
  width: 780px;
  height: 165px;
  text-align: center;
  margin: 0 auto;
  padding-top: 8px;
  border: 2px solid pink;
}

#home-header {
  color: #786E73;
  font-family: "Cinzel", serif;
  font-size: 30pt;
}

#home-p {
  font-family: "Quicksand", sans-serif;
}
