<!DOCTYPE html>
<html data-ng-app="icare">
<head>
  <title>iCare</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<style>

nav {
   position: fixed;
   top: 0;
   left:0;
   height: 50px;
   width: 100%;
 	/*z-index: 100;*/
 	display: inline-block;
 }

 nav li {
   float: right;
   display: inline-block;
   padding-right: 22px;
   padding-top: 15px;
   font-size: 15px;
 }

nav a {
 	color: #09C238;
 	text-decoration: none;
 	font-family: "Open Sans Condensed", sans-serif;
 	font-size: 15pt;
 }

 a:hover {
 	color: #FFFF68;
 }

 </style>

<body>

  <nav>
    <div class="container">
      <ul class="nav pull-right">
        <li id="nav-stories">
          <a data-ui-sref="storyIndex" href="#">STORIES</a>
        </li>
        <li id="nav-search">
          <a data-ui-sref="eventShow" href="#">EVENTS</a>
        </li>
        <li id="nav-home">
          <a data-ui-sref="eventIndex" href="#">HOME</a>
        </li>
      </ul>
    </div>
  </nav>

  <%= yield %>
</body>
</html>
